.hero-section {
  position: relative;
}

/* Adjust background position to show villa and pool */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Removed blur for logo clarity */
  background-size: cover;
  background-position: center top;
  z-index: -1;
}


